body {
  margin: auto;
  max-width: 680px;
  text-align: center;
  font-family: "Abril Fatface",
    sans-serif;
}
header,
footer {
  display: flex;
  background-color: rgb(21, 21, 66);
  border-radius: 10px;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  color: white;
}
footer {
  display: grid;
}

header img {
  width: 150px;
  height: auto;
  box-shadow: 0 0 30px #999;
  border-radius: 10px;
  padding: 0;
  justify-items: right;
}
main h1 {
  border-style: solid;
  border-radius: 10px;
}
ul {
  text-align: left;
}
footer {
  background-color: rgb(21, 21, 66);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: white;
}
