body {
  justify-content: center;
  max-width: 680px;
  text-align: center;
}
header {
  display: flex;
  background-color: rgb(163, 14, 14);
  border-radius: 10px;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  font-family: "Abril Fatface",
    sans-serif;
}
header h1 {
  padding: 75px;
}

header img {
  height: 200px;
  padding: 10px;
}
main h1 {
  border-bottom: black;
  border-style: solid;
  border-radius: 10px;
}
ul {
  text-align: left;
}
footer {
  grid-template-columns: 1fr 200px;
  justify-items: left;
  background-color: rgb(163, 14, 14);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
