@media only screen and (min-width: 64rem) {



  .thesocials {
    display: flex;
    flex-flow: row;
    margin: 8px;

  }

  .thesocials img {
    justify-content: center;
    margin: 1em;
  }

  body {
    max-width: 1100px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
  }

  .booknow {
    grid-column: 1/4;
    grid-row: 1/4;
    margin: 5px;
  }

  .locations {
    grid-column: 4/6;
    grid-row: 1/2;
    margin: 5px;
  }

  .locations-content {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .amenities {
    grid-column: 4/6;
    grid-row: 2/3;
    margin: 5px;
  }

  .missionary {
    grid-column: 4/6;
    grid-row: 3/4;
    margin: 5px;
  }

  .planning {
    grid-row: 4/5;
    grid-column: 1/6;
    margin: 5px;
  }

  .contact {
    grid-row: 5/6;
    grid-column: 1/6;
    margin: 5px;
  }

  .cards {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }

}

/* end large */